*{
  margin: 0;
  padding: 0;
}
body{
  margin-top: 10px;;
  display: flex;
  justify-content: center;
}
.text_area{
  display: grid;
  grid-template-columns: repeat(5, 19%);
  row-gap:20px;
  column-gap: 20px;

  justify-content: center;
}
.BG_grey{
  background-color: grey;
}
